<div class='container'>
    <div class='row'>
        <div class = "col-sm-6">
            <h1>Oh no!</h1>
            <h2>Something went wrong -- and that's Sam's fault -- because the page you're looking is either not available or is broken.</h2>
            <p>Try heading back to the home page <a href="/">here</a>.</p>
        </div>
    </div>
</div>