
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slide.css">

    <div class='container contentBox'>
        <div class='row'>
            <%- include("./partials/gameTitle.ejs")%>
        </div>
        <div class='row'>
              <%- include("./partials/gameDescription.ejs")%>
              <%- include("./partials/slideCardContainer.ejs")%>
        </div>
    </div>
    </div>
    </div>