
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/slide.css">

    <div class='container contentBox'>
        <div class='row'>
            <div class='col-lg-12'>
                <header class="game-title" >
                   <br><br>
                    <img src="https://fontmeme.com/permalink/210828/3928036407d0b874eded27ef242288f2.png"
                        alt="slab-serif-fonts" style='width: 90%;'></a>
                    <br><br>
                </header>
                <hr>
            </div>
        </div>
        <div class='row'>
              <%- include("./partials/gameDescription.ejs")%>
              <%- include("./partials/slideCardContainer.ejs")%>
        </div>
    </div>
    </div>
    </div>