<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onion Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../public/css/slide.css">
    <link rel="stylesheet" href="test.css">
</head>

<body>
    <!--
    <div class='container'>
        <div class='row center'>
            <div class='col-lg p-2 m-2 text-center'>
                <h1>Onion Game</h1>
            </div>
        </div>
        <div class="row center border">
            <div class = 'col-sm-1 p-2 m-2 text-center'>
                <a href="/"><span class='btn'>Home</span></a>
            </div>
            <div class='col-sm-1 p-2 m-2 text-center'>
                <a href="/articles"><span class='btn'>Articles</span></a>
            </div>
        </div>
    </div>
    -->
    <div>
        <%- body  %> 
    </div>
</body>
</html>