<div class='container'>
    <div class='row center p-4'>
        <div class='data-form'>
            <form class="form-signin" action="/articles/create" method="POST">
                <h2 class='form-signin-heading'>Add a new article:</h2>
                <label for="inputTitle">Title</label>
                <input type="text" name='title' id='inputTitle' class='form-control' placeholder='Title' autofocus required>
                <label for="inputReal">Is the article real?</label>
                <input type="text" name='real' id='inputReal' class='form-control' placeholder="yes" required>
                <button class='btn btn-lg btn-primary btn-block' type='submit'>Submit</button>
            </form>
        </div>
    </div>
</div>