<div class='data-form'>
    <form class="form-signin" action="<%= `/subscribers/create`  %> " method="POST">
        <h2 class='form-signin-heading'>Add a new subscriber:</h2>
        <label for="inputName">Name</label>
        <input id="inputName" name="name" class="form-control" placeholder="Name" type="text" autofocus>
        <label for="inputEmail">Email address</label>
        <input id="inputEmail" type="email" name="email" class="form-control" placeholder="Email address" required>
        <label for="inputZipCode">Zip Code</label>
        <input id="inputZipCode" name="zipCode" type="text" pattern="\d*" class="form-control" pattern = "[0-9]{5}"
            placeholder="Zip Code" required>
        <br /> <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>