<div class='col-lg-7 text-left game-description'>
    <p>Let's face it, the world is f*!$ing nuts. Has it always been this way? Who knows, but it certainly
        feels like it gets wackier everyday, especially if the news is anything to go by.<br><br> But,
        instead of spiraling into depression by overthinking it, we decided to make this game... <br><br>The
        premise is simple: we grab headlines from both the satirical online newspaper <i>The Onion</i> and
        newspapers around the world while you use your razor sharp reasoning skills to discern which
        headline is from which.<br><br>You have two options for moving though the card stack of
        headlines:<br> (1) Grab and swipe, or <br> (2) Press the buttons beneath the cards.<br><br>Let the
        fun begin!</p>
</div>