<div class='container'>
    <div class='row center'>
        <div class='col-lg p-2 m-2 text-center'>
            <h1>Onion Game</h1>
        </div>
    </div>
    <div class="row center border">
        <div class='col-sm-1 p-2 m-2 text-center'>
            <a href="/"><span class='btn'>Home</span></a>
        </div>
        <div class='col-sm-1 p-2 m-2 text-center'>
            <a href="/articles"><span class='btn'>Articles</span></a>
        </div>
    </div>
</div>