<link rel="stylesheet" href="css/slide.css">

<div class="slideCardContainer col-lg-5 mb-5">
    <!--Where The cards will be placed-->

    <div class="cardStack" id='cardStack'></div>
    <div class="buttons">
        <button class='btn-lg' id="onion">ONION</button>
        <button class='btn-lg' id="real">REAL</button>
    </div>
    <div class='accuracy mt-4' >Accuracy: <span id="accuracy">0</span>%</div>
</div>


<!--HIDDEN DATA-->
<span id="hiddenArticles" style='display:none;'>
    <%= articles%>
</span>

<!--SCRIPTS-->
<script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<script src="js/slide.js"></script>
